// Components

.app-wrapper {
    margin-bottom: 5rem;
}

.post-card {
    margin: 0.75rem;

    .post-card-title {
        font-weight: 600;
    }

    .date-string {
        font-size: 0.75rem;
    }
}

// Top navigation

.topbar-nav-link {
    padding: 0.5rem;
    color: #dc3545;
}

// Bottom modal button

.bottom-bar {
    backdrop-filter: blur(3px);
    padding: 1rem 1rem 1rem 1rem !important;
    background-color: rgba(255, 255, 255, 0.5);
}

.add-modal-button {
    padding: 0.375rem 4rem !important;
}

// Bootstrap overrides

.card {
    border: 0 !important;
    border-radius: 0 !important;
}

.navbar-expand {
    justify-content: center !important;
}

.form-style {
    text-align: center;

    .form-group {
        text-align: left;
    }
}
